@import "./components/ThemeButton/theme-btn.css";
@import "./components/Content/content.css";
@import "./components/Header/header.css";
@import "./components/TodoItem/list-item.css";

:root {
  --dark-color: #212529;
  --light-color: #f8f9fa;
}
.card {
  width: 40vw;
  margin: 5rem auto 0;
  box-shadow: 3px 4px 3px #8f8f8f;
}
